<!doctype html>
<html lang="{{locale}}" dir="{{dir}}">
  <head>
    {%- auth0:head -%}
    <style>
    body { background-color: rebeccapurple; }
    </style>
  </head>
  <body class="_widget-auto-layout" data-prompt="{{prompt.name}}" data-screen="{{prompt.screen.name}}">
    {%- auth0:widget -%}
    <script>
      const password = document.getElementById("password-reset");
      const passwordConfirm = document.getElementById("re-enter-password");
      if (password && passwordConfirm) {
        passwordConfirm.parentElement.style.display = "none";
        password.addEventListener("input", (event) => {
          passwordConfirm.value = password.value;
        });
      }
    </script>
  </body>
</html>
